.footer {
    &__logo {
        &__svg {
            g {
                path {
                    fill: #FFF;
                }
                g {
                    mask {
                        fill: #FFF;
                    }
                    path {
                        fill: #FFF;
                    }
                }
            }
        }
    }
}