.footer {
    &__logo {
        // Display
        @include breakpoint(large) {
            grid-area: logo;
        }
        // Child Elements
        &__svg {
            g {
                path {
                    fill: #FFF;
                }
                g {
                    mask {
                        fill: #FFF;
                    }
                    path {
                        fill: #FFF;
                    }
                }
            }
        }
    }
}