@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@use "sass:math";
.container {
  margin: 0 auto;
  padding: 0 1.5625rem;
  width: 80.3125rem;
}

@media (min-width: 71.875em) {
  .container {
    padding: 0 4.6875rem;
  }
}
