@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@use "sass:math";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}

a,
a:active,
a:visited {
  all: unset;
}

input,
button {
  all: unset;
}

@use "sass:math";
.container {
  margin: 0 auto;
  padding: 0 1.5625rem;
}

@media (min-width: 71.875em) {
  .container {
    width: 80.3125rem;
  }
}

@use "sass:math";
.header {
  padding: 2.8125rem;
}

.header__top-bar {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-bar__logo-link {
  height: 100%;
  width: 100%;
}

.header__top-bar__logo-link .logo-image {
  max-width: 100%;
  height: auto;
}

.header__top-bar__header-links-holder__header-link {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  font-size: clamp(1.5rem, calc(8vw - 3rem), 2rem);
  font-weight: 300;
}

.header__hero-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media (min-width: 71.875em) {
  .header__hero-section {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    justify-items: unset;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header__hero-section__image-holder {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__hero-section__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__hero-section__image-holder {
  margin: 6.25rem 0 3.125rem 0;
}

.header__hero-section__image-holder__image {
  height: 100%;
  width: 100%;
}

@media (min-width: 71.875em) {
  .header__hero-section__image-holder {
    padding-left: 2rem;
  }
}

.header__hero-section__text {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

@media (min-width: 71.875em) {
  .header__hero-section__text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    justify-items: start;
    text-align: left;
  }
}

.header__hero-section__text__title {
  font-family: "Raleway", sans-serif;
  font-size: clamp(2.2rem, calc(13.3vw - 4.8rem), 3.5rem);
}

@media (min-width: 71.875em) {
  .header__hero-section__text__title {
    font-size: 2.5rem;
  }
}

.header__hero-section__text__description {
  width: 90%;
  margin: 0 0 3rem 0;
  font-size: clamp(1.5rem, calc( 5.3vw - 1.3rem), 2rem);
}

@media (min-width: 71.875em) {
  .header__hero-section__text__description {
    font-size: 1.2rem;
  }
}

.header__hero-section__text__mail-submission-form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: clamp(1.5rem, calc(8vw - 2rem), 3rem);
}

@media (min-width: 71.875em) {
  .header__hero-section__text__mail-submission-form {
    width: 95%;
    -ms-grid-columns: 1fr 0.5fr;
        grid-template-columns: 1fr 0.5fr;
    grid-auto-flow: column;
    font-size: 1.5rem;
  }
}

.header__hero-section__text__mail-submission-form__input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  font-family: "Raleway", sans-serif;
  font-size: clamp(2rem, calc(8vw - 3rem), 2rem);
  color: rgba(0, 0, 0, 0.295);
}

@media (min-width: 71.875em) {
  .header__hero-section__text__mail-submission-form__input {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

.header__hero-section__text__mail-submission-form__btn {
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: #3065f8;
  color: white;
  text-align: center;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.header__hero-section__text__mail-submission-form__btn:hover {
  background-color: #83a3fc;
  cursor: pointer;
}

@media (min-width: 71.875em) {
  .header__hero-section__text__mail-submission-form__btn {
    padding: 0.5rem 1rem;
  }
}

.main .stay-productive__testimonial__display-profile__image {
  border-radius: 50%;
}

.footer__navbar-1__list__element::marker, .footer__navbar-2__list__element::marker {
  content: '';
}
