@import '../util/index';
// Helper Classes
.container {
    // Centering Contents
    margin: 0 auto;
    // Mobile Design
    padding: 0 rem(25);
    // Desktop Design
    @include breakpoint(large) {
        width: rem(1285);
    }
}