.main {
    // Positioning
    padding: unset;
    // Child ELements
    .stay-productive {
        // Top Curved Background
        position: relative;
        &::before {
            content: "";
            // Sizing
            width: 100%;
            height: rem(100);
            // Positioning
            position: absolute;
            left: rem(0);
            top: -100px;
            // Background
            background: url('../images/bg-curve-mobile.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            @include breakpoint(medium) {
                content: "";
                // Sizing
                width: 100%;
                height: rem(100);
                // Positioning
                position: absolute;
                left: rem(0);
                top: -(rem(100));
                // Background
                background: url('../images/bg-curve-desktop.svg');
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
            }
        }
        // Background
        background-color: #F8F8FE;
        // Display
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        // Positioning
        padding-bottom: rem(100);
        margin-top: rem(150);
        // Media Queries
        @include breakpoint(large) {
            // Display
            flex-direction: row-reverse;
            align-content: center;
            align-items: center;
        }
        // Child Elements
        &__image {
            // Sizing
            width: 100%;
            height: 60%;
            // Padding
            padding-bottom: rem(100);
            padding-top: rem(20);
            // Media Queries
            @include breakpoint(large) {
                // Sizing
                width: 50%;
                height: 90%;
                // Padding
                padding-block: unset;
            }
        }
        &__text {
            //Child Font Settings
            // Media Query
            @include breakpoint(large) {
                //Child Font Settings
                font-weight: 300;
                line-height: rem(20);
                letter-spacing: rem(1);
                font-family: $font-raleway;
            }
            // Sub Classes
            &__title {
                @include breakpoint(large) {
                    // Sizing
                    width: 90%;
                }
                // Positioning
                margin-block: rem(50);
                // Font Settings
                font-size: clamp(rem(40),
                calc(8vw - 2rem),
                2.5rem);
                font-family: $font-raleway;
                font-weight: 700;
                text-align: center;
                line-height: initial;
                // Media Query
                @include breakpoint(large) {
                    // Font Settings
                    text-align: left;
                    line-height: initial;
                }
            }
            &__description-1,
            &__description-2 {
                @include breakpoint(medium) {
                    // Sizing
                    width: 60%;
                    margin-left: 20%;
                }
                @include breakpoint(large) {
                    // Sizing
                    width: 80%;
                    margin-left: unset;
                }
                // Positioning
                margin-block: rem(20);
                //Font Setings
                font-weight: 300;
                line-height: rem(30);
                font-size: 1.2rem;
                letter-spacing: rem(1);
            }
            &__description-2 {
                // Positioning
                margin-bottom: 3em;
            }
            &__link-holder {
                // Font Settings
                text-align: center;
                font-size: 0.8rem;
                @include breakpoint(medium) {
                    // Font Settings
                    font-size: 1.2rem;
                }
                @include breakpoint(large) {
                    // Font Settings
                    text-align: left;
                }
                &__link {
                    //Font Setings
                    font-size: 1.2rem;
                    @include breakpoint(medium) {
                        //Font Setings
                        font-size: 1.5rem;
                    }
                    // @include breakpoint(large) {
                    //     // Sizing
                    //     width: 80%;
                    // }
                    text-decoration: underline;
                    color: $moderate-cyan;
                    // Display
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include breakpoint(large) {
                        justify-content: flex-start;
                    }
                    // Child ELements
                    &__text {}
                    &__icon {
                        height: clamp(0.5rem, calc(0.8vw + 1.5rem), 1.7rem);
                    }
                    // Hovering
                    &:hover {
                        cursor: pointer;
                        color: hsl(169, 32%, 55%);
                    }
                }
            }
            // The testimonial box is not aligning to left on desktop display
            &__testimonial {
                // Positioning
                @include breakpoint(large) {
                    // positioning
                    margin-inline: 0;
                }
                // Sizing
                width: 90%;
                @include breakpoint(medium) {
                    width: min(400px);
                }
                // Positioning
                margin-top: 3rem;
                padding-block: 1rem;
                // Background
                background-color: white;
                // Border 
                border-radius: 10px;
                box-shadow: 2px 2px 10px 0px $light-gray,
                -2px -2px 10px 0px $light-gray;
                // FOnt Settings
                line-height: 1.5rem;
                &__quote-icon {
                    // Positioning
                    top: 2%;
                }
                &__content {
                    // Positioning
                    margin-bottom: 1rem;
                    // Font Settings
                    font-size: clamp(0.7rem, calc(2.3vw + 0.5rem), 1.1rem);
                }
                &__display-profile {
                    // Display
                    display: flex;
                    align-items: center;
                    &__image {
                        // Sizing
                        width: 4rem;
                        // Border
                        border-radius: 50%;
                    }
                    &__content {
                        // Positioning
                        padding-left: 1rem;
                        &__name {
                            // Unsetting Margin
                            margin-block: unset;
                            // Positioning
                            margin-bottom: rem(4);
                            // Font Settings
                            font-size: clamp(1.2rem, calc(0.5vw + 0.9rem), 1.5rem);
                        }
                        &__designation {
                            // Unsetting Margin
                            margin-block: unset;
                            // Font Settings
                            font-size: clamp(0.5rem, calc(0.5vw + 0.9rem), 0.8rem);
                        }
                    }
                }
            }
        }
    }
}