.header {
    // Child Elements
    &__hero-section {
        // Display
        display: grid;
        justify-content: center;
        justify-items: center;
        // Media Queries
        @include breakpoint(large) {
            // Display
            display: grid;
            justify-content: unset;
            justify-items: unset;
            align-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            // Child Elements
            &__image-holder {
                order: 2;
            }
            &__text {
                order: 1;
            }
        }
        // Child Elements
        &__image-holder {
            // Positioning
            margin: rem(100) 0 rem(50) 0;
            // Child Elements
            &__image {
                // Sizing
                height: 100%;
                width: 100%;
            }
            @include breakpoint(large) {
                padding-left: 2rem;
            }
        }
        &__text {
            // Sizing
            width: 95%;
            // Display
            display: grid;
            justify-content: center;
            justify-items: center;
            // Child Font Settings
            text-align: center;
            // Media Queries
            @include breakpoint(large) {
                // Display
                justify-content: start;
                justify-items: start;
                // Child Font Settings
                text-align: left;
            }
            // Child Elements
            &__title {
                // Font Settings
                font-family: $font-raleway;
                font-size: clamp(1.5rem, calc(13.3vw - 4.8rem), 2.5rem);
                @include breakpoint(large) {
                    font-size: 2.5rem;
                    // Font Settings
                    line-height: 4rem;
                }
            }
            &__description {
                // Sizing
                width: 90%;
                // Positioning
                margin: 1.5rem 0 3rem 0;
                // Font Settings
                font-size: clamp(1rem, calc( 5.3vw - 1.3rem), 1.5rem);
                @include breakpoint(large) {
                    font-size: 1.2rem;
                }
            }
            &__mail-submission-form {
                // Sizing
                width: 80%;
                // Display
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 2rem;
                justify-content: center;
                // Child Font Settings
                font-size: clamp(1.2rem, calc(8vw - 2rem), 1.5rem);
                // Media Queries
                @include breakpoint(large) {
                    // Sizing
                    width: 95%;
                    // Display
                    grid-template-columns: 1fr 0.5fr;
                    grid-auto-flow: column;
                    // Child Font Settings
                    font-size: 1.2rem;
                }
                // Child Elements
                &__input {
                    // Border Display
                    border: 1px solid black;
                    border-radius: 5px;
                    // Positioning
                    padding: 1rem 1.5rem;
                    // Font Settings
                    font-family: $font-raleway;
                    font-size: 1.2rem;
                    color: $desaturated-blue;
                    text-align: start;
                    // Media Queries
                    @include breakpoint(large) {
                        // Positioning
                        padding: 1rem 1.5rem;
                        // Font Settings
                        font-size: 1.5rem;
                    }
                }
                &__btn {
                    // Border Display
                    border-radius: 5px;
                    // Positioning
                    padding: 1rem 1.5rem;
                    // Background Display
                    background-color: $bright-blue;
                    // Font Settings
                    color: white;
                    text-align: center;
                    // Transition
                    transition: all ease-in-out 300ms;
                    &:hover {
                        background-color: hsl(224, 95%, 75%);
                        cursor: pointer;
                    }
                    @include breakpoint(large) {
                        // Positioning
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }
}