.header {
    padding-block: rem(45);
    // Child Elements
    &__top-bar {
        //Display
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // Child Elements
        &__logo-link {
            // Sizing
            width: 100px;
            @include breakpoint(medium) {
                // Sizing
                width: 150px;
            }
            .logo-image {
                max-width: 100%;
            }
        }
        &__header-links-holder {
            // Sizing
            width: 60%;
            @include breakpoint(medium) {
                width: 40%;
            }
            //Display
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            // Sizing
            &__header-link {
                &:not(:last-child) {
                    // Positioning
                    padding-right: 10%;
                }
                // Font Settings
                font-size: clamp(0.8rem, calc(2.5vw + 0.2rem), 1.2rem);
                font-weight: 300;
                @include breakpoint(medium) {
                    font-size: 1.5rem;
                }
                // Child Elements
                a {
                    min-width: 8ch;
                }
            }
        }
    }
}