.header {
    padding: rem(45);
    // Child Elements
    &__top-bar {
        // Setting Display
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        align-content: center;
        align-items: center;
        // Child Elements
        &__logo-link {
            height: 100%;
            width: 100%;
            .logo-image {
                // height: 100%;
                // width: clamp(100px, calc(8vw - 4rem), 200px);
                max-width: 100%;
                height: auto;
            }
        }
        &__header-links-holder {
            &__header-link {
                padding-block: 1rem;
                padding-inline: 1.5rem;
                font-size: clamp(1.5rem, calc(8vw - 3rem), 2rem);
                font-weight: 300;
            }
        }
    }
}