.header {
    padding: rem(45);
    // Child Elements
    &__top-bar {
        //Display
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // Child Elements
        &__logo-link {
            height: 24px;
            // width: 80px;
            width: clamp(80px, auto, 160px);
            .logo-image {
                // height: 100%;
                // width: clamp(100px, calc(8vw - 4rem), 200px);
                max-width: 100%;
                height: auto;
            }
        }
        &__header-links-holder {
            // Sizing
            width: 15%;
            @include breakpoint(large) {
                width: 35%;
            }
            //Display
            display: flex;
            align-items: center;
            justify-content: space-between;
            // Sizing
            &__header-link {
                // Positioning
                padding-right: 2rem;
                // Font Settings
                font-size: clamp(rem(16), calc(8vw - 3rem), 1.5rem);
                font-weight: 300;
                // Child Elements
                a {}
            }
        }
    }
}